<h1>There is Nothing Here</h1>
<p>
  This application could do something but instead it does nothing.
</p>

<div class="row">
  <div class="six columns">
    <%= placeholder 300, 404 %>
  </div>
  <div class="six columns">
    <%= placeholder 145, 200 %>
    <%= placeholder 155, 200 %><br/>
    <%= placeholder 304, 200 %>
  </div>
</div>
